body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icons{
    align-items: center;
}

footer{
    padding: 3em;
    color: white;
    background-color: indigo;
}